
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Coustard&display=swap');


:root {
    --main-font-family: 'Bacasime Antique', serif;
    --secondary-font-family: 'Coustard',serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('header-aterica.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.content {
    margin-top: 0;
}

.text-container {
    padding: px;
    width: 50%;
    margin: 25px;
}
  
.text-container h2 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: var(--main-font-family);
  }
  
.text-container p {
    font-size: 18px;
    margin: 0;
    font-family: var(--main-font-family);
  }

.content--text {
    display: flex;
    align-items: center;
}

.rating {
    font-size: 14px;
    margin-left: 1px;
    font-weight: normal;
}

.small-image {
    width: 30px;
    height: auto; 
    margin-left: 5px; 
    margin-top: 5px; 
    margin-right: 1px;
}

.star-image {
    width: 20px; 
    height:20px; 
    margin-left: 5px; 
    margin-top: 5px; 
    margin-right: 1px;
}

.custom-button {

    width: 100px; 
    height: 30px;
    background-color: #e6c961; 
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--main-font-family);
}

.description-content{
   
    display: flex;
    align-items: flex-start;
}

.aligned-image {
  display: block;
  float: left;
  width: 600px; 
  height: auto;
  margin-left: 50px;
  margin-right: 10px; 
  margin-top: 10px;
}

.image-description {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px; 
    margin-top: 70px;
    margin-right: 50px;
    font-family: var(--secondary-font-family);
}

.comment-container {
  background-color: #e8ca322a;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-content {
  flex-grow: 1;
  font-family: var(--secondary-font-family);
}

.comment-author {
  font-weight: bold;
  color: #333;
  font-family: var(--main-font-family);
}

.comment-text {
  margin-top: 5px;
  color: #666;
  font-family: var(--secondary-font-family);
}

.comment-time {
  font-size: 12px;
  color: #999;
}

.comment-buttons {
  margin-top: 10px;
}

.comment-buttons button {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.comment-buttons button:hover {
  background-color: #e8ca32;
}

.comment-buttons button:focus {
  outline: none;
}

.helpful-button{
    background-color: #8eff75c5;
}

.not-helpful-button{
    background-color: #e7705bc5;
}

.description-content {
  display: flex;
  align-items: flex-start;
}

.aligned-image {
  display: block;
  width: 600px;
  height: auto;
  margin-left: 50px;
  margin-right: 10px;
}

.image-description {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  margin-top: 70px;
  margin-right: 50px;
  font-family: var(--secondary-font-family);
}

.reply-section {
    margin-top: 20px;
}
  
.reply-input {
    width: 80%;
    height: 40px;
    padding: 10px;
    resize: vertical;
}
  
.reply-button {
    width: 100px; 
    height: 30px; 
    background-color: #e6c961; 
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--main-font-family);
}

  
@media screen and (max-width: 991px) {
  .description-content {
    flex-direction: column; 
    align-items: center; 
  }

.aligned-image {
    width: 50%; 
    margin: 10px 0;
  }

.image-description {
    margin-left: 0; 
    margin-right: 0;
    margin-top: 20px; 
    width: 80%; 
    max-width: 600px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
.description-content {
    flex-direction: column; 
    align-items: center; 
  }

.aligned-image {
    width: 50%; 
    margin: 10px 0; 
  }

.image-description {
    margin-left: 0; 
    margin-right: 0; 
    margin-top: 20px; 
    width: 80%;
    max-width: 600px;
    font-size:10px;
  }
}
